
div.css-1kyxreq.etr89bj2 {
    padding-left: 00px;
}
div.block-container.css-18e3th9.egzxvld2 {
    background-color: rgb(232, 228, 223);
}

div.css-1v0mbdj.etr89bj1  img {
    border-radius:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}